# Logs
logs
*.log
npm-debug.log*


# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (http://nodejs.org/api/addons.html)
build

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

example/dist